@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url("../../public/images/informatique2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 640px;
}

.wesh
{
    color: black;
}
/* 
#show-bg
{
    background-image: url("");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.cours-btn:hover {
    color: red;
}